<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function serverRedirect() {
            window.open("http://192.168.29.176:11030/", '_blank');
        }
    </script>
</head>
<body>
    <button id="serverRedirect" onclick="serverRedirect()">View Local File System</button>
</body>
</html>